<div class="container" id="registration-form">
  <div class="row">
    <div class="col-md-8">
      <h2 class="mt-3"><%= t('.sign_up') %></h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field my-3">
          <%= f.label :last_name, class: "form-label" %>
          <%= f.text_field :last_name, class: "form-control", autocomplete: "last_name" %>
        </div>
        <div class="field my-3">
          <%= f.label :first_name, class: "form-label" %>
          <%= f.text_field :first_name, class: "form-control", autofocus: true, autocomplete: "first_name" %>
        </div>
        <div class="field my-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, class: "form-control", autocomplete: "email" %>
        </div>
        <div class="field my-3">
          <%= f.label :password, class: "form-label" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="field mt-3">
          <%= f.label :password_confirmation, class: "form-label" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>

        <%= f.submit t('.submit'), class: "my-3 btn btn-primary" %>
      <% end %>

      <%= link_to t('.login'), new_session_path(resource_name) %>
    </div>
  <div>
</div>
