<div class="mt-5" id="comment">
  <div class="d-flex">
    <p><%= number %>、</p>
    <% if comment.user.present? %>
      <div class="d-flex ms-2">
        <%= image_tag comment.user.profile.decorate.avatar_image(30,30), class: "rounded-circle", id: "comment-avatar" %>
        <span class="ms-2"><%= comment.user.profile.nickname %></span>
      </div>  
    <% else %>
      <span class="ms-2">名無し</span>
    <% end %>
    <div class="ms-4"><%= l comment.created_at, format: :time %></div>
  </div>
  <div class="d-flex justify-content-between">
    <span class="w-75 ms-3" id="body"><%= simple_format(comment.body) %></span>
    <button class="btn btn-outline-none" type="button" id="comment-reply" data-id="<%= comment.id %>">返信</button>
  </div>  
  <% if comment.media.attached? %>
    <div class="dflex">
      <% comment.media.each do |media| %>
        <%= image_tag media.variant(resize_to_limit: [100, 100]).processed %>
      <% end %>
    </div>
  <% end %>
</div>
<%= render partial: 'comments/reply_form', locals: { comment: comment, board: board } %>
<% if comment.childrens.present? %>
  <%= render partial: 'comments/reply', locals: { comment: comment, board: board } %>
<% end %>