<div class="reply-form" style="display: none;" id="reply-form-<%= comment.id %>">
  <%= form_with model: comment, url: board_comments_path(board), method: :post, locals: true do |f| %>
    <div class="pe-3">
      <%= f.text_area :body, class: "form-control", value: "" %>
    </div>
    <%= f.hidden_field :parent_id, value: comment.id %>
    <% if user_signed_in? %>
      <%= f.hidden_field :user_id, valus: current_user.id %>
    <% end %>
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-center mt-1" id="search_btn_area">
        <%= f.submit "返信", class: "btn", id: "search_btn" %>
      </div>
      <button class="btn btn-outline-none pe-4" type="button" id="reply-form-close" data-id="<%= comment.id %>">閉じる</button>
    </div>  
  <% end %>
</div>