<tr>
  <td><%= message.id %></td>
  <td><%= message.user.id %></td>
  <td><%= message.body %></td>
  <td><%= l message.created_at, format: :time %></td>
  <td><%= link_to t("default.delete"), admin_message_path(message), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: t("admin.helpers.destroy") } %></td>
</tr>