<tr>
  <td><%= room.id %></td>
  <td><%= room.title %></td>
  <td><%= room.creator_id %></td>
  <td><%= room.creator.decorate.fullname %></td>
  <td><%= room.decorate.room_category %></td>
  <td><%= room.game.name %></td>
  <td><%= room.users.count %> / <%= room.people %></td>
  <td><%= l room.created_at, format: :time %></td>
  <td><%= link_to t('default.show'), admin_room_path(room), class: 'btn btn-primary' %></td>
  <td><%= link_to t('default.delete'), admin_room_path(room), data: { turbo_method: :delete, turbo_confirm: t("admin.helpers.destroy") }, class: 'btn btn-danger' %></td>
</tr>