<% set_meta_tags title: t(".title") %>
<div class='container'>
  <div class='row my-4'>
    <div class='col-md-4'>
      <h1><%= t(".title") %></h1>
    </div>   
  </div>
  <div class='row'>
    <div class='col-md-8'>
      <table class="table">
        <thead>
         <tr>
          <th scope="col"><%= Room.human_attribute_name(:id) %></th>
          <th scope="col"><%= Room.human_attribute_name(:title) %></th>
          <th scope="col">creator_id</th>
          <th scope="col"><%= Room.human_attribute_name(:creator) %></th>
          <th scope="col"><%= Room.human_attribute_name(:category) %></th>
          <th scope="col"><%= Room.human_attribute_name(:game_id) %></th>
          <th scope="col"><%= Room.human_attribute_name(:people) %></th>
          <th scope="col"></th>
         </tr>
        </thead>
        <tbody>
          <%= render partial: 'room', collection: @rooms %>
        </tbody>
      </table>
    </div>
  </div>
</div>