<div class="container">
  <div class="row p-5">
    <div class="col-md-4 mt-3">
      <h3><%= t(".title") %></h3>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><%= Room.human_attribute_name(:id) %></th>
            <td><%= @room.id %></td>
          </tr>
          <tr>
            <th scope="row"><%= Room.human_attribute_name(:title) %></th>
            <td><%= @room.title %></td>
          </tr>
          <tr>
            <th scope="row">Creator_id</th>
            <td><%= @room.creator.id %></td>
          </tr>
          <tr>
            <th scope="row"><%= Room.human_attribute_name(:creator) %></th>
            <td><%= @room.creator.decorate.fullname %> ( <%= @room.creator.profile.nickname %> )</td>
          </tr>
          <tr>
            <th scope="row"><%= Room.human_attribute_name(:game_id) %></th>
            <td><%= @room.game.name %></td>
          </tr>
          <tr>
            <th scope="row">タグ</th>
            <td>タグ</td>
          </tr>
          <tr>
            <th scope="row"><%= Room.human_attribute_name(:people) %></th>
            <td><%= @room.people %></td>
          </tr>
        </tbody>
      </table>
      <div>
        <%= link_to t('default.delete'), admin_room_path(@room), date: { turbo_method: :delete }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>    