<div class="container" id="friend-chat-board">
  <div class="row">
    <div class="col-md-5">
      <div class="d-flex flex-column mt-5 p-3 overflow-auto" id="message-field" data-id="<%= @room.id %>">
        <% @messages.each do |message| %>
          <div class="d-flex flex-column <%= message.user == current_user ? 'align-self-end' : 'align-self-start' %>">
            <div class="d-flex justify-content-<%= message.user == current_user ? 'end' : 'start' %>">
              <%= image_tag message.user.profile.decorate.avatar_image(40, 40), class: "rounded-circle", id: "message-avatar" %>
              <span><%= message.message_nickname %></span>
            </div>  
            <p class="align-self-<%= message.user == current_user ? 'end' : 'start' %>"><%= message.body %></p>
          </div>
        <% end %>
      </div>
      <form class="mt-3">
        <input type="text" placeholder="メッセージを送信" class="form-control" name="message" id="message-form">
      </form>
    </div>
  </div>
</div>