<% breadcrumb :password_edit %>
<% set_meta_tags title: t(".title") %>
<div class="container">
  <div class="row">
    <div class="col-4 offset-3 mt-5 p-4 rounded" id="password_reset_form">
      <h3 class="my-3 d-flex justify-content-center"><%= t('.title') %></h3>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field mt-3">
          <%= f.label :password, "パスワード (6文字以上で入力してください)", class: "form-label" %>
          <%= f.password_field :password, autofocus: true, class: "form-control" %>
        </div>

        <div class="field mt-3">
          <%= f.label :password_confirmation, class: "form-label" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
        <div class="d-flex justify-content-center mt-5 mb-4" id="session_btn_area">
          <%= f.submit t('.change_password'), id: "session_btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>