<div class="d-flex flex-column position-relative" id="sidebar-nav">
  <div class="ms-3 mt-4">
    <div class="navbar-item">
      <p><%= link_to rooms_path do %><i class="bi bi-controller me-1"></i><%= t('sidebar.invite') %><% end %></p>
    </div>
    <div class="navbar-item">
      <p><%= link_to boards_path do %><i class="bi bi-chat-right-text me-1"></i><%= t("sidebar.board") %><% end %></p>
    </div>
    <div class="navbar-item">
      <p><%= link_to description_path do %><i class="bi bi-question-circle me-1"></i><%= t("sidebar.description") %><% end %></p>
    </div>
  </div>
</div>