<div class="d-flex flex-column position-relative" id="sidebar-nav">
  <div class="ms-3">
    <%= image_tag '1.png', size: '150x150' %>
  </div>
  <div class="navbar-items ms-4">
    <div class="navbar-item">
      <p><%= link_to t('sidebar.profile'), user_profile_path(current_user), class: "link-body-emphasis" %></p>
    </div>
    <div class="navbar-item">
      <p><%= link_to t('sidebar.invite'), rooms_path, class: "link-body-emphasis" %></p>
    </div>
    <div class="navbar-item ms-1 mt-5 pe-4">
      <div class="overflow-auto p-2" id="friend-index">
        <p class="ps-4"><%= t('sidebar.friend') %></p>
        <% Friend.find_friend_user(current_user).each do |user| %>
          <div class="d-flex dropdown-toggle mt-1" data-bs-toggle="dropdown" role="button" aria-expanded="false">
            <%= image_tag user.profile.decorate.avatar_image(30, 30), class: "rounded-circle", id: "friend-avatar" %>
            <span class="align-self-center ms-1" id="nickname"><%= user.profile.nickname %></span>
          </div>
          <ul class="dropdown-menu">
            <li><%= link_to t("sidebar.profile"), user_profile_path(user.profile), class: "dropdown-item" %></li>
          </ul>  
        <% end %>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="position-absolute bottom-0" style="width: 100%">
      <hr>
      <div class="d-flex justify-content-center mb-3">
        <%= link_to t('sidebar.logout'), destroy_user_session_path, id: "logout-link", class: "nav-link link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover", data: { turbo_method: :delete } %>
      </div>  
    </div>
  <% end %>
</div>