<div class="d-flex flex-column position-relative" id="sidebar-nav">
  <div class="ms-3">
    <%= image_tag '1.png', size: '150x150' %>
  </div>
  <div class="ms-3">
    <div class="navbar-item">
      <p><%= link_to t('sidebar.profile'), user_profile_path(current_user), class: "link-body-emphasis" %></p>
    </div>
    <div class="navbar-item">
      <p><%= t('sidebar.invite') %></p>
    </div>
    <div class="navbar-item">
      <p><%= t('sidebar.friend') %></p>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="position-absolute bottom-0" style="width: 100%">
      <hr>
      <div class="d-flex justify-content-center mb-3">
        <%= link_to t('sidebar.logout'), destroy_user_session_path, id: "logout-link", class: "nav-link link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover", data: { turbo_method: :delete } %>
      </div>  
    </div>
  <% end %>  
</div>