<div class="container" id="setting-show">
  <h2 class="mt-3"><%= t(".title") %></h2>
  <div class="row" id="user-info">
    <div class="col-md-8 offset-md-2">
      <h3 class="mb-3"><%= t(".user_info") %></h3>
      <% if user_signed_in? %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row"><%= t("helpers.label.fullname") %></th>
              <td><%= @user.decorate.fullname %></td>
            </tr>
            <tr>
              <th scope="row"><%= t("helpers.label.email") %></th>
              <td><%= @user.email %></td>
            </tr>
          <tbody>  
        </table>
        <%= link_to t("default.edit"), edit_user_registration_path, class: "btn btn-success" %>
      <% else %>
        <span><%= t(".not_user_info") %></span>
      <% end %>    
    </div>
  </div>
  <div class="row" id="terms_of_rule">
    <div class="col-md-8 offset-md-2">
      <div class="d-flex flex-column">
        <div class="mt-3"><%= t(".term_of_service") %></div>
        <div class="mt-3"><%= t(".term_of_privacy") %></div>
        <div class="my-3"><%= t(".contact") %></div>
      </div>
    </div>
  </div>
</div>