<% set_meta_tags title: t(".title") %>
<div class="container" id="admin_contact_show">
  <div class="row p-5">
    <div class="col-md-10 mt-3">
      <h2><%= t(".title") %></h2>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><%= Contact.human_attribute_name(:id) %></th>
            <td><%= @contact.id %></td>
          </tr>
          <tr>
            <th scope="row"><%= Contact.human_attribute_name(:name) %></th>
            <td><%= @contact.name %></td>
          </tr>
          <tr>
            <th scope="row"><%= Contact.human_attribute_name(:email) %></th>
            <td><%= @contact.email %></td>
          </tr>
          <tr>
            <th scope="row"><%= Contact.human_attribute_name(:created_at) %></th>
            <td><%= l @contact.created_at, format: :time %></td>
          </tr>
        </tbody>
      </table>
      <div class="ps-2">
        <span><%= Contact.human_attribute_name(:body) %></span>
        <p><%= simple_format(@contact.body) %></p>
      </div>  
    </div>
  </div>
</div>