<div class="card me-3 mt-3 flex-shrink-0" id="recruit-card">
  <%= image_tag room.game.decorate.picture_image(248, 150), size: "248x150", id: "game-picture" %> 
  <div class="card-body">
    <% if room.users.include?(current_user) %>
      <%= link_to chat_board_room_path(room), id: "room_title" do %>
        <h6 class="text-wrap"><%= room.title %></h6>
      <% end %>
    <% else %>    
      <%= link_to room_path(room), id: "room_title" do %>
        <h6 class="text-wrap"><%= room.title %></h6>
      <% end %>
    <% end %>
    <%= link_to search_rooms_path(q: { word: room.game.name }), id: "search" do %>
      <%= room.game.name %>
    <% end %>  
    <div class="d-flex">
      <%= image_tag room.creator.profile.decorate.avatar_image(25, 25), class: "rounded-circle", id: "card-avatar" %>
      <span class="align-self-end"><%= room.creator.profile.nickname %></span>
    </div>
    <div class="d-flex">
      <span><%= t(".people") %></span>
      <span class="ms-2"><%= room.users.count %>/<%= room.people %></span>
    </div>
    <div class="d-flex flex-wrap mb-2" id="tag-area">
      <% room.tags.each do |tag| %>
        <%= link_to search_rooms_path(q: { mode_tag: tag.id }), id: "search" do %>
          <span class="me-1"><%= tag.name %></span>
        <% end %>  
      <% end %>
    </div>
    <span><i class="bi bi-clock me-1"></i><%= l room.created_at,format: :time %></span>  
  </div>
</div>