<div class="container" id="chat-board">
  <div class="row">
    <div class="col-md-3" id="join-user">
      <div class="d-flex flex-column">
        <div class="mt-5 py-3 ps-2" id="user-list">
          <h5>参加者</h5>
          <% @users.each do |user| %>
            <div class="d-flex">
              <%= image_tag user.profile.decorate.avatar_image(40,40), class: "rounded-circle", id: "room-avatar" %>
              <span class="align-self-center ms-1"><%= user.profile.nickname %></span>
            </div>
          <% end %>
        </div>  
        <div class="mt-5 py-3 ps-2" id="permit-user">
          <h5>参加申請</h5>
            <% @permits.each do |permit| %>
              <div class="d-flex">
                <%= image_tag permit.user.profile.decorate.avatar_image(40,40), class: "rounded-circle", id: "room-avatar" %>
                <span class="align-self-center ms-1"><%= permit.user.profile.nickname %></span> 
                <% if @room.creator == current_user %>
                  <div class="ms-2">
                    <%= link_to t(".approve"), approve_room_permit_path(@room, permit), data: { turbo_method: :post }, class: "btn btn-primary btn-sm" %>
                    <%= link_to t(".refuse"), refuse_room_permit_path(@room, permit), data: { turbo_method: :delete }, class: "btn btn-danger btn-sm" %>
                  </div>  
                <% end %>
              </div>  
            <% end %> 
        </div>
      </div>
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>