<% breadcrumb :room_create %>
<% set_meta_tags title: t(".title") %>
<div class="container">
  <div class="row">
    <div class="col-6 offset-2 my-5 p-4 rounded" id="new_room_form">
      <h3 class="d-flex justify-content-center"><%= t(".title") %></h3>
      <%= form_with model: @room, locals: true do |f| %>
        <%= render partial: 'shared/error_message', locals: { object: @room } %>
        <div class="mt-4">
          <%= f.label :title, class: "form-label" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="mt-4">
          <%= f.label :game_id, class: "form-label" %>
          <%= f.select :game_id, @game_options, { prompt: t(".not_select") }, class: "form-select" %>
        </div>
        <div class="mt-4">
          <%= f.label :people, class: "form-label" %>
          <%= f.select :people, [*1..50].map { |k| [k, k] }, {}, class: "form-select" %>
        </div>
        <div class="mt-4">
          <div class="mb-1"><label><%= t(".mode") %></label></div>
          <%= f.collection_radio_buttons :mode_tag_id, @mode_tag_options, :id, :name do |b| %>
            <%= b.radio_button class: "form-check-input" %>
            <%= b.label class: "form-check-label me-3" %>
          <% end %>
        </div>
        <div class="mt-4">
          <div class="mb-1"><label><%= t(".style") %></label></div>
          <%= f.collection_check_boxes :tag_ids, @style_tag_options, :id, :name do |b| %>
            <%= b.check_box class: "form-check-input" %>
            <%= b.label class: "form-check-label me-3" %>
          <% end %> 
        </div>
        <div class="mt-4">
          <div class="mb-1"><label><%= t(".ability") %></label></div>
          <%= f.collection_check_boxes :tag_ids, @ability_tag_options, :id, :name do |b| %>
            <%= b.check_box class: "form-check-input" %>
            <%= b.label class: "form-check-label me-3" %>
          <% end %>  
        </div>  
        <div class="mt-4">
          <%= f.label :body, class: "form-label" %>
          <%= f.text_area :body, class: "form-control", rows: 5 %>
        </div>
        <div class="d-flex justify-content-center my-4" id="session_btn_area">
          <%= f.submit t(".create"), class: "btn", id: "session_btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>