<div class="container" id="rooms-show-page">
  <div class="row">
    <div class="col-md-6 offset-md-2" id="show-area">
      <h3><%= @room.title %></h3>
      <h5><%= @room.game.name %></h5>
      <div class="d-flex">
        <%= image_tag @room.creator.profile.decorate.avatar_image(50, 50),class: "rounded-circle", id: "show-avatar" %>
        <div class="align-self-center"><%= @room.creator.profile.nickname %></div>
      </div>
      <div class="d-flex flex-wrap mb-2" id="tag-area">
        <% @room.tags.each do |tag| %>
          <span class="mb-1"><%= tag.name %></span>
        <% end %>
      </div>
      <div class="d-flex">
        <div><%= t(".people") %></div>
        <span class="ms-2"><%= @room.users.count %>/<%= @room.people %></span>
      </div>
      <div><%= simple_format(@room.body) %></div>
      <% if @room.creator == current_user %>
        <%= link_to t("default.delete"), room_path(@room), data: { turbo_method: :delete, turbo_confirm: t(".confirm") }, class: "btn btn-danger" %>
        <%= link_to t("default.edit"), edit_room_path(@room), class: "btn btn-success" %>
      <% end %> 
    </div>
    </div>
  </div>  
</div>