<div class="container">
  <div class="row p-5">
    <div class="col-md-4 mt-3">
      <h3><%= t(".title") %></h3>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><%= User.human_attribute_name(:id) %></th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th scope="row"><%= User.human_attribute_name(:fullname) %></th>
            <td><%= @user.decorate.fullname %></td>
          </tr>
          <tr>
            <th scope="row"><%= User.human_attribute_name(:email) %></th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th scope="row"><%= User.human_attribute_name(:role) %></th>
            <td><%= @user.decorate.role_status %></td>
          </tr>
        </tbody>
      </table>
      <div>
        <%= link_to t('default.edit'), admin_user_edit_path(@user), class: 'btn btn-success' %>
        <%= link_to t('default.delete'), admin_user_destroy_path(@user), date: { turbo_method: :delete }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
  <div class="row p-5" id="admin-profile">
    <div class="col-md-10">
      <h3><%= t(".profile") %></h3>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><%= Profile.human_attribute_name(:nickname) %></th>
            <td><%= @profile.nickname %></td>
          </tr>
          <tr>
            <th scope="row"><%= Profile.human_attribute_name(:sex) %></th>
            <td><%= @profile.decorate.profile_sex %></td>
          </tr>
          <tr>
            <th scope="row"><%= Profile.human_attribute_name(:introduction) %></th>
            <td><%= simple_format(@profile.introduction) %></td>
          </tr>
          <tr>
            <th scope="row"><%= Profile.human_attribute_name(:avatar) %></th>
            <td><%= image_tag @profile.decorate.avatar_image(100, 100), id: "admin-avatar" %></td>
          </tr>
        </tbody>
      </table>
      <div>
        <%= link_to t('default.edit'), edit_admin_profile_path(@profile), class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>