<div class="collapse collapse-horizontal" id="collapseWidthExample">
  <div class="d-flex flex-column position-relative" id="admin-sidebar-nav">
    <div class="ms-3 mt-3">
      <div class="navbar-item">
        <p><%= link_to t('admin.sidebar.users'), admin_users_path, class: "link-light link-underline-opacity-0 link-underline-opacity-100-hover" %></p>
      </div>
      <div class="navbar-item">
        <p><%= link_to t('admin.sidebar.rooms'), admin_rooms_path, class: "link-light link-underline-opacity-0 link-underline-opacity-100-hover" %></p>
      </div>
      <div class="navbar-item">
        <p><%= link_to t('admin.sidebar.tags'), admin_tags_path, class: "link-light link-underline-opacity-0 link-underline-opacity-100-hover" %></p>
      </div>
      <div class="navbar-item">
        <p><%= link_to t('admin.sidebar.games'), admin_games_path, class: "link-light link-underline-opacity-0 link-underline-opacity-100-hover" %></p>
      </div>
      <div class="navbar-item">
        <p><%= link_to t('admin.sidebar.contacts'), admin_contacts_path, class: "link-light link-underline-opacity-0 link-underline-opacity-100-hover" %></p>
      </div>
      <div class="navbar-item">
        <p><%= link_to t('admin.sidebar.boards'), admin_boards_path, class: "link-light link-underline-opacity-0 link-underline-opacity-100-hover" %></p>
      </div>
    </div>
      <div class="position-absolute bottom-0" style="width: 100%">
        <hr>
        <div class="d-flex justify-content-center mb-3">
          <%= link_to t('sidebar.logout'), admin_logout_path, id: "logout-link", class: "link-light", data: { turbo_method: :delete } %>
        </div>  
      </div> 
  </div>
</div>  