<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body>
    <div>
      <% if user_signed_in? %>
          <%= render 'shared/header' %>
        <% else %>  
          <%= render 'shared/before_login_header' %>
        <% end %>   
      <div class="d-flex" id="content-main">
        <% if user_signed_in? %>
          <%= render 'shared/sidebar' %>
        <% else %>
          <%= render 'shared/before_login_sidebar' %>
        <% end %>
        <div class="overflow-auto" id="main">
          <div class="mt-2 ms-3">
            <%= breadcrumbs separator: " ＞ " %>
          </div>
          <%= render 'shared/flash_message' %>
          <%= yield %>
        </div>  
      </div>  
    </div>
  </body>
</html>
